<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.demo.spring.domain.DemoMapper">
	<select id="findPersonNameById" resultType="java.lang.String" parameterType="java.lang.Long">
		select
		 name
		from person
		where id = #{id}
	</select>

</mapper>
